.api__dashboard__wrapper {
  //background: bisque;
  margin-top: 120px;
  padding-top: 30px;
  border-top: 1px solid silver;
  
  .limit__graphs__wrapper {
    //@include span(9 at 7 of 18);
    //background: plum;
    padding-right: 30px;
    
    h2 {
      color: $highlight-color;
      margin: 40px 0 25px 0;
      padding-left: 10px;
      font-family: 'montserratregular' sans-serif;
      //font-size: 1.3em;
      //text-transform: uppercase;
      //letter-spacing: 0.1em;
      border-left: 30px solid rgba($highlight-color, 0.4);
    }
    
    .api__call__limit, .api__dev__limit, .api__live__limit {
      margin-top: 20px;
      
      h3 {
        color: rgba($primary-color, 0.6);
        font-family: 'montserratregular' sans-serif;
        //font-size: 1em;
        //text-transform: uppercase;
      }
    }
    
    .api__dev__limit progress::before {
      content: '600 / 1,000';
      right: 41%;
    }
    
    .api__live__limit progress::before {
      content: '200 / 1,000';
      right: 81%;
    }    
  }
  
  .limit__keys__wrapper {
    //@include span(9 at 10 of 18);
  }
  
  progress {
    background-color: rgba($primary-color, 0.2);
    position: relative;
    margin-top: 5px;
    outline: 0;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;   
  }
  
  progress::before {
    color: whitesmoke;
    content: '400 / 1,000';
    position: absolute;
    right: 61%;
    bottom: 5px;
    font-family: 'montserratregular' sans-serif;
  } // not working in Firefox
  
  progress[value] {
    width: 100%;
    height: 30px;
  }
  
  progress[value]::-webkit-progress-bar {
    background-color: rgba($primary-color, 0.005);
  }
    
  progress[value]::-webkit-progress-value {
    background-color: rgba($primary-color, 0.3);
  }
  
/*
  progress[value]::-webkit-progress-value::before {
    content: '400/1000';
    position: absolute;
    top: -125%;
    right: 0;
  }
*/ // not working in both Firefox & Chrome
  
  progress[value]::-moz-progress-bar {
    background-color: rgba($primary-color, 0.3);
  }   
}
