body {
  background-color: aliceblue;
  color: darkslategray;
  font-family:'montserratlight', sans-serif;
  //font-size: 90%;
  //overflow-y: hidden;
}

h1 {
  @include h1-style();
}

p {
  margin: 10px 0;
}

.page__container {
  @include container(100%);
  
  .content__container {
    @include span(18 at 7 of 24);
    //background: thistle;
    padding: 28px 30px;
  }
}




//Media queries - Mobile Layout: 320px
@media only screen and (max-width: 767px) {
  @include layout($small-screen);
  
  h1 {
    @include h1-style-small();
  }
  
  p {
    font-size: 12px;
  }
  
  .page__container {
    @include container();
    
    .content__container {
      @include span(4 at 3 of 6);
      //width: 100%;
      padding: 22px 10px;
    }
  }
}
